.form-search {
	padding-top: 20px;
	margin-left: 20px;
}

.search {
	background-color: #FFF;
	margin-top: 20px;
	border-radius: 10px;
}

.search h2 {
	color: #2dcc70;
	margin: 0px;
	padding: 0px;
}

.widget-popular h2 {
	color: #2dcc70;
	margin-top: 20px;
	margin-left: 20px;
}

.widget-popular .side-bar {
	margin: 10px;
	
}


