.form-search {
	margin: 10px 10px;
}

.search {
	background-color:rgba(255,255,255,0.5);
	margin-top: 40px;
	border-radius: 5px;
	padding: 10px;
	z-index: 10000;
	text-align: center;
}

.search h3 {
	color: #2dcc70;
	margin: 0px;
	padding: 0px;
	margin-bottom: 2%;
}

.widget-popular h2 {
	color: #2dcc70;
	margin-top: 20px;
	margin-left: 20px;
}

.widget-popular .side-bar {
	margin: 20px;

	
}

.tes {
	margin: 10px;
	display: block;
	float: left;
}


